@{
    ViewData["Title"] = "Privacy";
}

<p>
    <h2 class="LoremToDelete">Privacy terms</h2>
    <p class="LoremToDelete">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia pariatur provident dolorum repudiandae deleniti sequi laborum reiciendis non corporis, veritatis expedita sunt doloribus quia illo ab quo aliquid tempore? Obcaecati!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam voluptates sapiente deleniti. Nam facere aut tenetur. Commodi aut facere quam illum culpa, odit odio sequi doloribus dignissimos dolorum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quae obcaecati labore perspiciatis accusantium facilis placeat unde ipsa fugit ipsum officia, porro, corporis cumque id ipsam modi dignissimos possimus? Doloribus.
    </p>
</p>