@{
    ViewData["Title"] = "Terms";
}

<p>
    <h2 class="LoremToDelete">Terms of use and service</h2>    
    <p class="LoremToDelete">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas placeat eius minus commodi ab soluta ea veniam exercitationem, tempore, similique aspernatur, facilis sit et animi totam! Velit, quasi dolore!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos saepe earum, repellendus iste nihil hic. Saepe quo natus soluta error ratione excepturi deserunt officia veniam, doloremque facilis, illum quod doloribus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo dolorem delectus facere laudantium est itaque rem cumque corrupti sapiente aut optio debitis, dolorum, quas odit consectetur neque aliquid nulla.
    </p>
</p>