@model RegisterViewModel
@{
    ViewData["Title"] = "Account";
}

<form method="post" asp-controller="Account" asp-action="Logout">
    @Html.AntiForgeryToken()
    <button class="navbara">Logout</button>
</form>
