<h1 style="color: whitesmoke;">Reset Password Confirmation</h1>
<p style="color: whitesmoke;">Your Password has been reset. <a asp-controller="Account" asp-action="SignIn">Click here to sign in.</a>
</p>