@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityManager.Models.ApplicationUser> SignInManager
@inject UserManager<IdentityManager.Models.ApplicationUser> UserManager

    @{
        if(SignInManager.IsSignedIn(User))
        {


            <div id="partial_view_top_bar_div" class="top_bar_div">
                <ul id="top_bar_ul_partial_view">
                    <li class="top_bar_li_partial_view">
                        <a asp-controller="Account" asp-action="FullRegister" class="navbara" id="navbara_partial_view">Account</a> @*@UserManager.GetUserName(User)*@
                    </li>
                </ul>
            </div>  

        }
        else
        {
            if(Convert.ToString(ViewContext.RouteData.Values["controller"]) == "Account"
            && Convert.ToString(ViewContext.RouteData.Values["action"]) == "SignIn")
            {
                <div id="partial_view_top_bar_div" class="top_bar_div">
                    <ul id="top_bar_ul_partial_view">
                        <li class="top_bar_li_partial_view">
                            <a asp-controller="Account" asp-action="FullRegister" class="navbara" id="navbara_partial_view">Register</a>
                        </li>
                    </ul>
                </div>  
            }
            else if(Convert.ToString(ViewContext.RouteData.Values["controller"]) == "Account"
            && Convert.ToString(ViewContext.RouteData.Values["action"]) == "FullRegister"
            || Convert.ToString(ViewContext.RouteData.Values["controller"]) == "Account"
            && Convert.ToString(ViewContext.RouteData.Values["Action"]) == "ForgotPassword")
            {
                <div id="partial_view_top_bar_div" class="top_bar_div">
                    <ul id="top_bar_ul_partial_view">
                        <li class="top_bar_li_partial_view">
                            <a asp-controller="Account" asp-action="SignIn" class="navbara" id="navbara_partial_view">Sign In</a>
                        </li>
                    </ul>
                </div>  
            }
        }
    }