@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityManager.Models.ApplicationUser> SignInManager
@inject UserManager<IdentityManager.Models.ApplicationUser> UserManager

    @{

            <div class="top_bar_div">
                <ul id="top_bar_ul">
                    <li class="top_bar_li" id="home_nav_btn">
                        <a asp-controller="Home" asp-action="Index" class="navbara">Home</a>
                    </li>
                    <li class="top_bar_li" id="shop_nav_btn">
                        <a asp-controller="Shop" asp-action="Index" class="navbara">Shop</a>
                    </li>
                    <li class="top_bar_li" id="cart_nav_btn">   
                        <a asp-controller="Cart" asp-action="Index" class="navbara">Cart</a>
                    </li>
                    @{
                        if(SignInManager.IsSignedIn(User)){
                            <li class="top_bar_li" id="sign_in_nav_btn">
                                <a asp-controller="Account" asp-action="AccountSite" class="navbara">Account</a>
                            </li>
                        }
                        else{
                            <li class="top_bar_li" id="sign_in_nav_btn">
                                <a asp-controller="Account" asp-action="SignIn" class="navbara">Sign In</a>
                            </li>
                        }
                    }
                </ul>
            </div>  

    }