@model ForgotPasswordViewModel
@{

    ViewData["Title"] = "Email Confirmed";

}

<h1 style="color: whitesmoke;">Email Confirmed</h1>
<p style="color: whitesmoke;">Your Email has been Confirmed. <a asp-controller="Account" asp-action="SignIn">Click here to sign in.</a>
</p>