@model ForgotPasswordViewModel
@{

    ViewData["Title"] = "Recovery";

}

<div id="full_register_container">
    <div id="full_register_box">
        <div id="full_register_box_child">
            <h1 class="text-primary text-center pt-2" id="full_register_create_new_account_title">Password Recovery</h1>
            <p id="password_recovery_enter_your_email_text">Enter your e-mail</p>
            <div asp-validation-summary="ModelOnly" class="text-danger no-bullets" id="full_register_validation_summary_div"></div>
            <form method="post" asp-controller="Account" asp-action="ForgotPassword" id="full_register_form">

                <div class="full_register_input_spacer_div">
                    <label asp-for="Email" class="col-12"></label>
                    <input asp-for="Email" class="full_register_input">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button id="send_full_register_btn" type="submit">Continue</button> 
                
            </form>
        </div>
    </div>
</div>

@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}