@model ForgotPasswordViewModel
@{

    ViewData["Title"] = "Recovery";

}

<div id="password_recovery_container">
    <div id="password_recovery_box">
        <div id="password_recovery_box_child">
            <h1 class="text-primary text-center pt-2" id="password_recovery_title">Password Recovery</h1>
            <p id="password_recovery_enter_your_email_text">Enter your e-mail</p>
            <div asp-validation-summary="ModelOnly" class="text-danger no-bullets" id="password_recovery_validation_summary_div"></div>
            <form method="post" asp-controller="Account" asp-action="ForgotPassword" id="password_recovery_form">
                @Html.AntiForgeryToken()
                <div class="password_recovery_input_spacer_div">
                    <label asp-for="Email" class="col-12"></label>
                    <input asp-for="Email" class="password_recovery_input">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button id="send_password_recovery_btn" type="submit">Continue</button> 
                
            </form>
        </div>
    </div>
</div>

@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}