    @model ApplicationUserNamespace.Model.ApplicationUser
    @{

        ViewData["Title"] = "Account";

    }

    <form asp-controller="Account" asp-action="Login" method="post" id="sign_in_container">

        <div id="sign_in_text_container">
            <p id="sign_in_p">Enter your email to log in</p>
        </div>
        <div id="sign_in_box">
            <p id="login_email_text">E-mail</p>
            <input type="text" id="login_mail" class="login_input" name="Email" value="@Model?.Email" required>
            <p class="login_text">Password</p>
            <input type="password" id="login_password" class="login_input" name="Password"> 
            <button id="send_login_btn" type="submit">Continue</button> 
            <button id="sign_in_btn">Sign In</button>  
        </div>

    </form>