@model IdentityManager.Models.ApplicationUser
@{

    ViewData["Title"] = "Register Hub";

}

<div id="register_hub_container">
    <div id="register_hub_box">
        <div id="register_hub_box_child">
            <h2 class="register_hub_text">Register Hub</h2>
            <form asp-controller="Account" asp-action="RegisterEmail" method="post" id="hub_email_form">
                <button class="register_hub_btn" type="submit">Add e - mail</button> 
            </form>
            <form asp-controller="Account" asp-action="RegisterName" method="post" id="hub_name_form">
                <button class="register_hub_btn" type="submit">Choose a name</button> 
            </form>
            <form asp-controller="Account" asp-action="RegisterCellPhone" method="post" id="hub_cell_phone_form">
                <button class="register_hub_btn" type="submit">Add Cell Phone</button>
            </form>
            <form asp-controller="Account" asp-action="RegisterPassword" method="post" id="hub_password_form">
                <button class="register_hub_btn" type="submit">Choose Password</button>
            </form>
        </div>
    </div> 
</div>