@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Recovery";
}

<div id="reset_password_container">
    <div id="reset_password_box">
        <div id="reset_password_box_child">
            <h1 class="text-primary text-center pt-2" id="reset_password_title">Reset Password</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger no-bullets" id="reset_password_validation_summary_div"></div>
            <form method="post" id="reset_password_form">
                <input asp-for="Code" hidden/>
                    
                <div class="reset_password_input_spacer_div">
                    <label asp-for="Email" class="col-12"></label>
                    <input asp-for="Email" class="sign_in_input">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div id="password_and_verification_container" class="reset_password_input_spacer_div">
                    <div id="password_container">
                        <label asp-for="Password" class="col-12"></label>
                        <input asp-for="Password" class="reset_password_password_input">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div id="confirm_password_container">
                        <label asp-for="ConfirmPassword" class="col-12" id="confirm_password_label"></label>
                        <input asp-for="ConfirmPassword" class="reset_password_password_input" id="confirm_password_input">
                        <span asp-validation-for="ConfirmPassword" class="text-danger" id="confirm_password_span"></span>
                    </div>
                </div>

                <button id="send_reset_password_btn" type="submit">Continue</button> 
                
            </form>
        </div>
    </div>
</div>

@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}
